{% extends "tmpl_single_string_menu.html" %}

{% block menu_1_1 %}{% if enable_dismiss %}<a href='/dismiss/?id={{ fight_id }}' class="button">{{ WORDS.16 }}</a>{% endif %}{% endblock %}
{% block menu_1_3 %}<a href='/attack/?id={{ fight_id }}' class="button">{{ WORDS.15 }}</a>{% endblock %}

{% block cnt_main %}
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td width="50%">{{ me.name }}</td><td width="50%">{{ enemy.name }}</td></tr>
<tr>
	<td>
		{{ WORDS.11 }}: {{ me.level }}<br />
		{{ WORDS.12 }}: {{ me.health }}<br />
		{{ WORDS.13 }}: {{ me.attack }}<br />
		{{ WORDS.14 }}: {{ me.defence }}<br />
	</td>
	<td>
		{{ WORDS.11 }}: {{ enemy.level }}<br />
		{{ WORDS.12 }}: {{ enemy.health }}<br />
		{{ WORDS.13 }}: {{ enemy.attack }}<br />
		{{ WORDS.14 }}: {{ enemy.defence }}<br />
	</td>
</tr>
<tr>
	<td><img src='/imgs/ninja2.png' style="width: 110px; height: 109px;" /></td>
	<td><img src='/imgs/ninja1.png' style="width: 110px; height: 109px;" /></td>
</tr>
</table>

{% endblock %}